---
title: "Presentation"
format:
  revealjs:
    transition: slide
    background-transition: fade
---

In [5]:
import pandas as pd

In [154]:
encabezado = ["Nombre Campeon","Rol", "Vida base","Mana base" , "Armadura base" , "Daño ataque base" ," Oro"]

In [155]:
df =  pd.read_csv("champions.csv",names =encabezado)

In [156]:
df.head() #Primeros 5

,Nombre Campeon,Rol,Vida base,Mana base,Armadura base,Daño ataque base,Oro
0,Champion Name,Role,Base Health,Base Mana,Base Armor,Base Attack Damage,Gold Efficiency
1,Aatrox,Top,580,0,38,60,1.05
2,Ahri,Mid,526,418,21,53,1.02
3,Akali,Mid,575,200,23,62,1.03
4,Alistar,Support,600,350,44,62,1.08

In [32]:
type(df)  #aqui podemos ver que df  es dataframe que pertenece a la libreria pandas , cada columna se representa como un vector
          #

pandas.core.frame.DataFrame

### Ordenar valores (alfabeticamente)

In [157]:
df.sort_values('Rol')

,Nombre Campeon,Rol,Vida base,Mana base,Armadura base,Daño ataque base,Oro
49,Kalista,ADC,534,250,21,69,1.05
128,Vayne,ADC,515,231,23,60,1.03
127,Varus,ADC,530,360,27,61,1.04
46,Jhin,ADC,585,300,24,59,1.05
47,Jinx,ADC,550,245,28,57,1.04
...,...,...,...,...,...,...,...
122,Tryndamere,Top,625,100,33,72,1.08
56,Kennen,Top,541,200,29,48,1.01
96,Rumble,Top,589,100,30,61,1.04
76,Nasus,Top,561,325,34,67,1.06
54,Kayle,Top,600,330,26,50,1.02

## Here you should see code

## {auto-animate=true}
```{.python code-line-numbers="6-8"}
import numpy as np
import matplotlib.pyplot as plt


r = np.arange(0, 2, 0.01)
theta = 2 * np.pi * r
fig, ax = plt.subplots(subplot_kw={'projection': 'polar'})
ax.plot(theta, r)
ax.set_rticks([0.5, 1, 1.5, 2])
ax.grid(True)
plt.show()
```

## {auto-animate=true}
```{.python code-line-numbers="9-10"}
import numpy as np
import matplotlib.pyplot as plt


r = np.arange(0, 2, 0.01)
fig, xd = plt.subplots(subplot_kw={'projection': 'polar'})
ax.plot(theta, r)
ax.set_rticks([0.5, 1, 1.5, 2])
ax.grid(True)
plt.show()
```

In [ ]:
## Slide Title


::: aside
Some additional commentary of more peripheral interest.
:::

## FILTRAR LOS DATOS

In [158]:
tc = df[["Nombre Campeon","Rol"]]
tc.head()

  Nombre Campeon      Rol
0  Champion Name     Role
1         Aatrox      Top
2           Ahri      Mid
3          Akali      Mid
4        Alistar  Support

In [221]:
## FUNCION AGREGAR, BUSCAR Y MODIFICAR UN CAMPEON CON SUS CARACTERISTICAS

In [184]:
def agregar_campeon():
    global df 
    Nombre_Campeon = input("Escribe el nombre del Campeón: ")
    Rol = input("Escribe el rol del Campeón (e.g., Top, Jungle, Mid, ADC, Support): ")
    Vida_base = input("Escribe los puntos de vida del Campeón: ")
    Mana_base = input("Escribe el daño de ataque del Campeón: ")
    Armadura_base = input("Escribe la armadura base: ")
    Daño_ataque_base = input("Escribe el daño de ataque base: ")
    Oro = input("Escribe el oro: ")
    
    campeon = pd.DataFrame({
        'Nombre Campeon': [Nombre_Campeon],
        'Rol': [Rol],
        'Vida base': [Vida_base],
        'Mana base': [Mana_base],
        'Armadura base': [Armadura_base],
        'Daño ataque base': [Daño_ataque_base],
        'Oro': [Oro],
        })
    ##aqui lo que quiero hacer es añadir lo de arriba al dataframe original , pero el append no funciona entonces uso el concat
    df = pd.concat([df,campeon], ignore_index=True)

In [185]:
def buscar_campeon():
    name = input("Escribe el nombre del Campeón: ")
    resultados = df[df['Nombre Campeon'].str.contains(name, case=False, na=False)]
    
    if not resultados.empty:
        print(f"Se encontraron {len(resultados)} resultados:")
        print(resultados)
    else:
        print("No se encontró el Campeón.")

In [218]:
def modificar_campeon():
    global df
    nombre_original = input("Escribe el nombre del Campeón que deseas modificar: ")
    campeon_existente = df[df['Nombre Campeon'].str.contains(nombre_original, case=False, na=False)]
    
    if campeon_existente.empty:
        print(f"No se encontró el Campeón '{nombre_original}'.")
        return
    
    print("Datos actuales del campeón:")
    print(campeon_existente)
    ["Nombre Campeon","Rol", "Vida base","Mana base" , "Armadura base" , "Daño ataque base" ," Oro"]

    nuevo_nombre = input("Escribe el nuevo nombre del Campeon: ")
    nuevo_rol = input("Escribe el nuevo rol del Campeon: ")
    nuevo_hp = input("Escribe los nuevos puntos de vida del Campeon: ")
    nuevo_ap = input("Escribe los nuevos puntos de mana base del Campeon: ")
    nuevo_armor = input("Escribe los nuevos puntos armadura del Campeon: ")
    nuevo_attack = input("Escribe los nuevos puntos de ataque del Campeon: ")
    nuevo_Oro = input("Escribe los nuevos puntos de oro del Campeon: ")
    
    if nuevo_nombre:
            df.loc[df['Nombre Campeon'].str.contains(nombre_original, case=False, na=False), 'Nombre Campeon'] = nuevo_nombre
    if nuevo_rol:
            df.loc[df['Nombre Campeon'].str.contains(nombre_original, case=False, na=False), 'Rol'] = nuevo_rol
    if nuevo_hp:
            df.loc[df['Nombre Campeon'].str.contains(nombre_original, case=False, na=False), 'Vida base'] = nuevo_hp
    if nuevo_ap:
            df.loc[df['Nombre Campeon'].str.contains(nombre_original, case=False, na=False), 'Mana base'] = nuevo_ap
    if nuevo_armor:
            df.loc[df['Nombre Campeon'].str.contains(nombre_original, case=False, na=False), 'Armadura base'] = nuevo_armor
    if nuevo_attack:
            df.loc[df['Nombre Campeon'].str.contains(nombre_original, case=False, na=False), 'Daño ataque base'] = nuevo_attack

    if nuevo_Oro:
            df.loc[df['Nombre Campeon'].str.contains(nombre_original, case=False, na=False), 'Oro'] = nuevo_Oro

In [204]:
##MENU

In [220]:
print("\n1. Agregar Campeón")
print("\n2. Buscar Campeón")
print("\n3. Mostrar Base de Datos")
print("\n4. Modificar Campeón")
    
opcion = int(input("Elige una opción: "))

match opcion:
  case 1:
      agregar_campeon()
  case 2:
        buscar_campeon()
  case 3:
        print(df)
  case 4:
        modificar_campeon()

1. Agregar Campeón

2. Buscar Campeón

3. Mostrar Base de Datos

4. Modificar Campeón

Elige una opción:  3

    Nombre Campeon      Rol    Vida base  Mana base Armadura base  \
0    Champion Name     Role  Base Health  Base Mana    Base Armor
1           Aatrox      Top          580          0            38
2             Ahri      Mid          526        418            21
3            Akali      Mid          575        200            23
4          Alistar  Support          600        350            44
..             ...      ...          ...        ...           ...
147         Zilean  Support          504        452            22
148            Zoe      Mid          560        425            20
149           Zyra  Support          504        418            29
150          matyp      adc          200        200           200
151         flavio      mid           23         23            23

       Daño ataque base              Oro  Oro
0    Base Attack Damage  Gold Efficiency  NaN
1                    60             1.05  NaN
2                    53             1.02  NaN
3                    62             1.03  NaN
4                    62             1.08  NaN
..                  ...              ...  ...
147                  51             1.01  NaN
148                  58             1.02  NaN
149                  53             1.02  NaN
150                 200              NaN  200
151                  23              NaN   23

[152 rows x 8 columns]