---
title: "Presentation"
format:
  revealjs:
    transition: slide
    background-transition: fade
---

In [3]:
import pandas as pd

In [4]:
df =  pd.read_csv("champions.csv")

In [6]:
df.head() #Primeros 5

,Champion Name,Role,Base Health,Base Mana,Base Armor,Base Attack Damage,Gold Efficiency
0,Aatrox,Top,580,0,38,60,1.05
1,Ahri,Mid,526,418,21,53,1.02
2,Akali,Mid,575,200,23,62,1.03
3,Alistar,Support,600,350,44,62,1.08
4,Amumu,Jungle,615,285,33,53,1.06

### Ordenar valores (alfabeticamente)

In [7]:
df.sort_values('Role')

,Champion Name,Role,Base Health,Base Mana,Base Armor,Base Attack Damage,Gold Efficiency
48,Kalista,ADC,534,250,21,69,1.05
123,Twitch,ADC,612,287,27,59,1.04
18,Corki,ADC,518,350,28,55,1.04
64,Lucian,ADC,571,348,28,64,1.05
119,Tristana,ADC,559,250,26,61,1.04
...,...,...,...,...,...,...,...
121,Tryndamere,Top,625,100,33,72,1.08
58,Kled,Top,340,100,35,65,1.04
53,Kayle,Top,600,330,26,50,1.02
83,Ornn,Top,590,340,33,69,1.06
0,Aatrox,Top,580,0,38,60,1.05

## Here you should see code

## {auto-animate=true}
```{.python code-line-numbers="6-8"}
import numpy as np
import matplotlib.pyplot as plt


r = np.arange(0, 2, 0.01)
theta = 2 * np.pi * r
fig, ax = plt.subplots(subplot_kw={'projection': 'polar'})
ax.plot(theta, r)
ax.set_rticks([0.5, 1, 1.5, 2])
ax.grid(True)
plt.show()
```

## {auto-animate=true}
```{.python code-line-numbers="9-10"}
import numpy as np
import matplotlib.pyplot as plt


r = np.arange(0, 2, 0.01)
fig, xd = plt.subplots(subplot_kw={'projection': 'polar'})
ax.plot(theta, r)
ax.set_rticks([0.5, 1, 1.5, 2])
ax.grid(True)
plt.show()
```

In [ ]:
## Slide Title


::: aside
Some additional commentary of more peripheral interest.
:::

## FILTRAR LOS DATOS

In [10]:
tc = df[["Champion Name","Role"]]
tc.head()

  Champion Name     Role
0        Aatrox      Top
1          Ahri      Mid
2         Akali      Mid
3       Alistar  Support
4         Amumu   Jungle

## PODER BUSCAR ALGUNA CANCION CON UNA SENTENCIA :)

In [12]:
Buscar_Track= input("Escribe el nombre del CampeÃ³n: ")
resultados = df[df['Champion Name'].str.contains(Buscar_Track, case=False, na=False)]


if not resultados.empty:
    print(f"Se encontraron {len(resultados)} resultados:")
    print(resultados)
else:
    print("No se encontrÃ³ el CampeÃ³n")

Escribe el nombre del Track que deseas buscar:  Akali

Se encontraron 1 resultados:
  Champion Name Role  Base Health  Base Mana  Base Armor  Base Attack Damage  \
2         Akali  Mid          575        200          23                  62

   Gold Efficiency
2             1.03